<h1>Gabrielle Roy</h1>
<h2>Un jardin au bout du monde</h2>

<% 40.times do |i| %>
  <% chapter_index = i + 1 %>
  <section id="chapter-<%= chapter_index %>" class="chapter">
    <h3>Chapitre <%= chapter_index %></h3>

    <% 8.times do |ii| %>
      <% paragraph_index = (i * 8 + ii) + 1 %>
      <div id="paragraph-<%= paragraph_index %>" class="paragraph">
        <p>
          <a href="#paragraph-<%= paragraph_index %>" class="paragraph-count"><%= paragraph_index %></a>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non tortor sed leo lacinia lobortis. Proin lorem quam, auctor ac dapibus eget, dapibus vel tortor. Sed fringilla congue mi, ut congue odio tincidunt quis. Nam a urna sit amet justo ultrices tincidunt sed ac felis. Suspendisse scelerisque dolor eu enim pulvinar accumsan. Vivamus condimentum justo vel nisi tincidunt ultrices. Maecenas quis ligula eget orci sollicitudin sollicitudin. Cras nibh dolor, pulvinar quis sagittis non, tempor ac nunc. Quisque pretium sollicitudin porta. Proin justo tortor, convallis ac congue et, sollicitudin et velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris sit amet magna id felis ullamcorper dignissim in nec lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris sit amet magna id felis ullamcorper dignissim in nec lectus.Duis iaculis pulvinar metus, sed pellentesque mi mattis sit amet. Nunc non urna quam, eu sollicitudin nibh.
        </p>
      </div>
    <% end %>
  </section>
<% end %>
