<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <title>Edsa</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= stylesheet_link_tag :application %>
  <%= inline_script_tag :head_script %>
</head>
<body>
  <header>
    <ul class="left">
      <li><a class="library" href="javascript:"><span>Bibliothèque</span></a></li>
      <li><a class="book" href="javascript:"><span><img src="<%= asset_path 'icons/icon-book.png' %>"></span></a></li>
    </ul>
    <h1>
      <div>
        <span class="author">Gabrielle Roy</span>
        <span class="title">Un jardin au bout du monde</span>
      </div>
    </h1>
    <ul class="right">
      <li><a href="javascript:"><span><img src="<%= asset_path 'icons/icon-search.png' %>"></span></a></li>
      <li><a href="javascript:"><span><img src="<%= asset_path 'icons/icon-text.png' %>"></span></a></li>
      <li class="selected"><a href="javascript:"><span><img src="<%= asset_path 'icons/icon-close.png' %>"></span></a></li>
    </ul>
  </header>

  <section role="main">
    <div class="wrap">
      <%= yield %>
    </div>
  </section>

  <footer id="footer" role="contentinfo">
  </footer>

  <script>document.write('<script src="//cdnjs.cloudflare.com/ajax/libs/' +
    ('__proto__' in {} && !/firefox\/3/i.test(navigator.userAgent) ?
    'zepto/1.0rc1/zepto.min.js' : 'jquery/1.9.0/jquery.min.js') + '"><\/script>')</script>
  <%= javascript_include_tag :application %>
</body>
</html>
