<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <title>Antoine Gérin-Lajoie - Jean Rivard. Scènes de la vie réelle</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=PT+Serif|Source+Code+Pro|Open+Sans:400,700' rel='stylesheet'>
  <%= stylesheet_link_tag :application %>
  <%= inline_script_tag :head_script %>
</head>
<body class="theme-5">
  <header>
    <div class="advanced-menu">
      <ul class="left">
        <li><a class="library" href="javascript:"><span>Bibliothèque</span></a></li>
        <li><a class="book" href="javascript:"><span><img src="<%= asset_path 'icons/icon-book.png' %>"></span></a></li>
      </ul>
      <h1 title="Gabrielle Roy - Un jardin au bout du monde">
        <div class="wrap">
          <span class="book-title">
            <span class="author">Antoine Gérin-Lajoie</span>
            <span class="title">Jean Rivard. Scènes de la vie réelle</span>
          </span>
        </div>
      </h1>
      <ul class="right">
        <li><a href="javascript:"><span><img src="<%= asset_path 'icons/icon-search.png' %>"></span></a></li>
        <li class="submenu-container readability-settings-container">
          <a href="javascript:ReadabilitySettings.toggleSubmenu()"><span><img src="<%= asset_path 'icons/icon-readability.png' %>"></span></a>
          <div class="submenu">
            <section>
              <span class="submenu-title">Taille de la police</span>
              <div class="columns">
                <div class="column column-3"><a href="javascript:ReadabilitySettings.smallerFontSize()" class="simple-button"><img width="16" src="<%= asset_path 'icons/icon-letter-small.png' %>"></a></div>
                <div class="column column-3"><a href="javascript:ReadabilitySettings.normalFontSize()" class="simple-button"><span>Normal</span></a></div>
                <div class="column column-3"><a href="javascript:ReadabilitySettings.largerFontSize()" class="simple-button"><img width="22" src="<%= asset_path 'icons/icon-letter.png' %>"></a></div>
              </div>
            </section>
            <section>
              <span class="submenu-title">Taille de l’interlignage</span>
              <div class="columns">
                <div class="column column-3"><a href="javascript:ReadabilitySettings.smallerLineHeight()" class="simple-button"><span class="icon-minus">-</span></a></div>
                <div class="column column-3"><a href="javascript:ReadabilitySettings.normalLineHeight()" class="simple-button"><span>Normal</span></a></div>
                <div class="column column-3"><a href="javascript:ReadabilitySettings.largerLineHeight()" class="simple-button"><span class="icon-plus">+</span></a></div>
              </div>
            </section>
            <section class="contrast">
              <span class="submenu-title">Contraste texte/fond</span>
              <div class="columns">
                <img class="contrast-icon icon-moon" src="<%= asset_path 'icons/icon-moon.png' %>">
                <div class="slider-container column column-1">
                  <div>
                    <span class="slider"></span>
                    <div class="contrast-colors">
                      <span style="background-color: #1590b0;"></span>
                      <span style="background-color: #17a0c3;"></span>
                      <span style="background-color: #19afd5;"></span>
                      <span style="background-color: #1cc0e9;"></span>
                      <span style="background-color: #1ecffc;"></span>
                    </div>
                  </div>
                </div>
                <img class="contrast-icon icon-sun" src="<%= asset_path 'icons/icon-sun.png' %>">
              </div>
            </section>
            <section>
              <span class="submenu-title">Police</span>
              <div class="buttons-group fonts">
                <a href="javascript:ReadabilitySettings.fontFamily('helvetica')" class="simple-button font-helvetica"><span>Helvetica</span></a>
                <a href="javascript:ReadabilitySettings.fontFamily('times')" class="simple-button font-times"><span>Times</span></a>
                <a href="javascript:ReadabilitySettings.fontFamily('source-code')" class="simple-button font-source-code"><span>Source Code</span></a>
                <a href="javascript:ReadabilitySettings.fontFamily('pt-serif')" class="simple-button font-pt-serif"><span>PT Serif</span></a>
                <a href="javascript:ReadabilitySettings.fontFamily('open-sans')" class="simple-button font-open-sans"><span>Open Sans</span></a>
              </div>
            </section>
          </div>
        </li>
        <li class="last"><a class="close-advanced-menus blue-button" href="javascript:App.hideAdvancedMenus()"><span><img src="<%= asset_path 'icons/icon-close.png' %>"></span></a></li>
      </ul>
    </div>
    <a class="button-advanced-menus" href="javascript:App.showAdvancedMenus()"><img src="<%= asset_path 'icons/icon-glasses.png' %>"></a>
  </header>

  <section role="main" class="font-times">
    <div class="wrap">
      <%= yield %>
    </div>
  </section>

  <footer>
    <div class="wrap">
      <div class="advanced-menu">
        <div class="timeline">
          <span class="line"></span>
        </div>
        <div class="anchors">
          <div class="button">Chapitre <span data-hook="current-chapter">1</span> | §<span data-hook="current-paragraph">1</span>/<span data-hook="paragraph-count">1</span></div>
          <div class="popup popup-with-tip">
            <div class="columns">
              <div class="column column-2">
                <span>Chapitre</span>
                <select name="chapter"></select>
              </div>
              <div class="column column-2">
                <span>Paragraphe</span>
                <select name="paragraph"></select>
              </div>
            </div>
            <button class="blue-button">Aller</button>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <%= javascript_include_tag :application %>
</body>
</html>
