<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <title>Gabrielle Roy - Un jardin au bout du monde</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= stylesheet_link_tag :application %>
  <%= inline_script_tag :head_script %>
</head>
<body>
  <header>
    <div class="advanced-menu">
      <ul class="left">
        <li><a class="library" href="javascript:"><span>Bibliothèque</span></a></li>
        <li><a class="book" href="javascript:"><span><img src="<%= asset_path 'icons/icon-book.png' %>"></span></a></li>
      </ul>
      <h1 title="Gabrielle Roy - Un jardin au bout du monde">
        <div class="wrap">
          <span class="author">Gabrielle Roy</span>
          <span class="title">Un jardin au bout du monde</span>
        </div>
      </h1>
      <ul class="right">
        <li><a href="javascript:"><span><img src="<%= asset_path 'icons/icon-search.png' %>"></span></a></li>
        <li><a href="javascript:"><span><img src="<%= asset_path 'icons/icon-text.png' %>"></span></a></li>
        <li class="selected"><a class="close-advanced-menus" href="javascript:hideAdvancedMenus()"><span><img src="<%= asset_path 'icons/icon-close.png' %>"></span></a></li>
      </ul>
    </div>
    <a class="button-advanced-menus" href="javascript:showAdvancedMenus()"><img src="<%= asset_path 'icons/icon-glasses.png' %>"></a>
  </header>

  <section role="main">
    <div class="wrap">
      <%= yield %>
    </div>
  </section>

  <footer>
    <div class="wrap">
      <div class="advanced-menu">
        <div class="timeline">
          <span class="line"></span>
        </div>
        <div class="chapters">
          Chapitre <span data-hook="current-chapter">1</span> | §<span data-hook="current-paragraph">1</span>/<span data-hook="paragraph-count">1</span>
        </div>
      </div>
    </div>
  </footer>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <%= javascript_include_tag :application %>
</body>
</html>
